apimoex==1.2.0; python_version >= "3.6"
asgiref==3.6.0; python_version >= "3.8"
beautifulsoup4==4.12.2; python_full_version >= "3.6.0"
certifi==2022.12.7; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
django-bootstrap4==22.3; python_version >= "3.7"
django==4.1.4; python_version >= "3.8"
idna==3.4; python_version >= "3.7" and python_version < "4"
lxml==4.9.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
requests==2.28.1; python_version >= "3.7" and python_version < "4"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.3; python_version >= "3.8"
tzdata==2022.7; sys_platform == "win32" and python_version >= "3.8"
urllib3==1.26.13; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
