{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{{ page_title }}</h1>
        <div class="d-flex justify-content-left my-4">
            <a class="btn btn-primary btn-sm" href="{% url "add_stock" %}" role="button">{% translate "Add stock" %}</a>
        </div>

        <table class="table table-striped">
           <thead>
                <tr>
                    <th>ID</th>
                    <th>{% translate "Ticker" %}</th>
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Dividend" %}</th>

                </tr>
            </thead>

            <tbody method="get">
                {% for div in dividend_list %}
                <tr>
                    <td>{{ div.id }}</td>
                    <td>{{ div.stock.latname }}</td>
                    <td>{{ div.date }}</td>
                    <td>{{ div.dividend }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}