{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{{ page_title }}</h1>
    
        {% include 'dividends/_cards_deck_dividends.html' %}

        <table id="myDivDataTable" class="table table-striped">
           <thead>
                <tr>

                    <th>{% translate "Ticker" %}</th>
                    <th>{% translate "Quantity" %}</th>
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Dividend for each" %}</th>
                    
                    <th>{% translate "Dividends for all" %}</th>
                    <th></th>

                </tr>
            </thead>

            <tbody>

                {% for dividend in accrual_list %}
                <tr id="dividend_id_{{ dividend.id }}"> 
                    <td>{{ dividend.asset_name }}</td>
                    <td>{{ dividend.asset_quantity }}</td>
                    <td>{{ dividend.date }}</td>
                    <td>{{ dividend.amount }}</td>
                    
                    <td>{{ dividend.sum }}</td>
                
                    {% if dividend.is_upcoming %}
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-info btn-sm" role="button">{% translate "Upcoming accrual" %}</a>
                        </div>
                    </td>    
                    {% elif dividend.is_received %}
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-success btn-sm" href="{% url "stocks:toggle_portfolio_div" dividend.id %}" role="button">{% translate "Remove dividend" %}</a>
                        </div>
                    </td>
                    {% else %}
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-primary btn-sm" href="{% url "stocks:toggle_portfolio_div" dividend.id %}" role="button">{% translate "Get dividend" %}</a>
                        </div>
                    </td>
                    {% endif %}
                
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

{% endblock content %}
