{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{{ page_title }}</h1>
        <div class="d-flex justify-content-left my-4">
            <a class="btn btn-primary btn-sm" href="{% url "add_stock" %}" role="button">{% translate "Add stock" %}</a>
        </div>

        <table id="myDataTable" class="table table-striped">
           <thead>
                <tr>

                    <th>{% translate "Ticker" %}</th>
                    <th>{% translate "Quantity" %}</th>
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Dividend for each" %}</th>
                    
                    <th>{% translate "Dividends for all" %}</th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                {% for div, quantity_for_the_date, total_div, status in dividend_list %}
                <tr>
                    <td>{{ div.stock.latname }}</td>
                    <td>{{ quantity_for_the_date }}</td>
                    <td>{{ div.date }}</td>
                    <td>{{ div.dividend }}</td>
                    
                    <td>{{ total_div }}</td>
                    {% if status %}
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-success btn-sm" href="{% url "remove_div_from_user" div.id %}" role="button">{% translate "Remove dividend" %}</a>
                        </div>
                    </td>
                    {% else %}
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-primary btn-sm" href="{% url "add_div_to_user" div.id %}" role="button">{% translate "Get dividend" %}</a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{ total_divs_payable }}</b></td>
                    <td><b>{{ total_divs_recieved }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}