{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4 text-primary">{{ page_title }}</h1>
        <div class="d-flex justify-content-left my-4">
            <a class="btn btn-primary btn-sm" href="{% url "stocks:add_stock" %}" role="button">{% translate "Add stock" %}</a>
        </div>

        <table id="myDataTable" class="table table-striped">
           <thead>
                <tr>
                    <th>{% translate "Ticker" %}</th>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Creation date" %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for stock in stock_list %}
                <tr>
                    <td>{{ stock.secid }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.creation_date }}</td>
                    <td>
                        <a href="{{ stock.get_delete_url }}">{% translate "Delete" %}</a>
                    </td>
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-primary btn-sm" href="{% url "add_stock_to_user" pk_stock=stock.id %}" role="button">{% translate "Add stock to my list" %}</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}