{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{{ page_title }}</h1>
        <div class="d-flex justify-content-left my-4">
            <a class="btn btn-primary btn-sm" href="{% url "add_stock" %}" role="button">{% translate "Add stock" %}</a>
        </div>

        <table class="table table-striped">
           <thead>
                <tr>
                    <th>ID</th>
                    <th>{% translate "Ticker" %}</th>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Quantity" %}</th>
                    <th>{% translate "Purchase price" %}</th>
                    <th>{% translate "Current price" %}</th>
                    <th>{% translate "Result" %}</th>
                    <th></th>
                </tr>
            </thead>

            <tbody method="get">
                {% for stock in stock_list %}
                <tr>
                    <td>{{ stock.stock.id }}</td>
                    <td>{{ stock.stock.ticker }}</td>
                    <td>{{ stock.stock.name }}</td>
                    <td>{{ stock.current_quantity }}</td>
                    <td>{{ stock.purchase_price }}</td>
                    <td>{{ stock.current_price }}</td>
                    <td>{{ stock.percent_result }}</td>
                    <td>
                        <div class="d-flex justify-content-left">
                            <a class="btn btn-primary btn-sm" href="{% url "add_transaction" %}" role="button">{% translate "Add stock transaction" %}</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}