
.disabled-field {
  color: black; /* Задаем черный цвет текста */
  background-color: transparent; /* Устанавливаем прозрачный фон */
  border: none; /* Убираем границу */
  outline: none; /* Убираем контур при получении фокуса */
  pointer-events: none; /* Отключаем события указателя, чтобы поле оставалось недоступным */
}